{% extends 'admin/base_site.html' %} 

{% block title %} Destek Talebi: {{ ticket.ticket_id }} {% endblock %}

{% block extrastyle %}
<style>
.admin-response {
    margin: 0 auto;
    width: 95%;
    /* padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); */
}
.admin-response .ticket-details {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
}

.admin-response .message-history {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
}
.admin-response .message-history .message {
    margin: 1rem;
    padding: 1.5rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
    border-radius: 1rem;
}
.admin-response .message-history .admin .message  {
    margin-left: 5rem;
    color: #fff;
    background-color: #669648;
}
.admin-response .message-history .user .message  {
    margin-right: 5rem;
    color: #fff;
    background-color: #3c3f44;
}

.admin-response .response-form {
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
}
.admin-response .response-form textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}
.admin-response .response-form input[type="submit"] {
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #669648;
    color: #fff;
    cursor: pointer;
}
.admin-response .response-form input[type="submit"]:hover {
    background-color: #609040;
}
.admin-response .response-form input[type="file"] {
    width: 100%;
    border: none;
    cursor: pointer;
}
.admin-response .response-form input[type="checkbox"] {
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #FF2F0A;
    position: relative;
    height: 2rem;
    width: 2rem;
}

</style>
{% endblock %}

{% block content %}
<div class="admin-response">
    <h1>Destek Talebi: {{ ticket.ticket_id }}</h1>

    <div class="ticket-details">
        {% comment %} <h2>Destek Talebi Detayları</h2> {% endcomment %}

        <table>
            <tr>
                <td><strong>OLUŞTURULMA TARİHİ:</strong></td>
                <td>{{ ticket.created_at }}</td>
            </tr>
            <tr>
                <td><strong>Üye:</strong></td>
                <td>{{ ticket.member.first_name }} {{ ticket.member.last_name }} ({{ ticket.member }})</td>
            </tr>
            <tr>
                <td><strong>DESTEK BAŞLIĞI:</strong></td>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <td><strong>KATEGORİ:</strong></td>
                <td>{{ ticket.category }}</td>
            </tr>
            <tr>
                <td><strong>KONU:</strong></td>
                <td>{{ ticket.subject }}</td>
            </tr>
            <tr>
                <td><strong>DURUM:</strong></td>
                <td>
                    {% if ticket.status == 'OPEN' or ticket.status == 'IN_PROGRESS' %}
                    <span style="color: #fff; background-color: #669648; padding: 0.2rem 0.5rem; border-radius: 5px;">AÇIK</span>
                    {% elif ticket.status == 'CLOSED' %}
                    <span style="color: #fff; background-color: #FF2F0A; padding: 0.2rem 0.5rem; border-radius: 5px;">KAPALI</span>
                    {% endif %}
                </td>
            </tr>
            
        </table>
    </div>

    <div class="message-history">
        {% comment %} <h2>Message History</h2> {% endcomment %}
        {% for message in messages %}
        {% if message.sender == ticket.member %}
        <div class="user">
            <div class="message">
                <p><strong>{{ message.sender.first_name }} {{ message.sender.last_name }} - {{ message.sender }}</strong></p>
                <p>{{ message.message }}</p>
                {% if message.file %}
                <a href="{{ message.file.url }}" target="_blank"><img src="{{ message.file.url }}" style="max-height:150px;" alt="Support Image"></a>
                <br><br>
                {% endif %}
                <p><em>{{ message.created_at }}</em></p>
            </div>
        </div>
        {% else %}
        <div class="admin">
            <div class="message">
                <p><strong>{{ message.sender.first_name }} {{ message.sender.last_name }} - {{ message.sender }}</strong></p>
                <p>{{ message.message }}</p>
                {% if message.file %}
                <a href="{{ message.file.url }}" target="_blank"><img src="{{ message.file.url }}" style="max-height:150px;" alt="Support Image"></a>
                {% endif %}
                <p><em>{{ message.created_at }}</em></p>
            </div>
        </div>
        {% endif %}
        {% empty %}
        <p>No messages yet.</p>
        {% endfor %}
    </div>

    <div class="response-form">
        {% if ticket.status == 'CLOSED' %}
        <h2>Destek Talebi Kapatıldı</h2>
        <p>Destek talebi kapatıldı. Dolayısıyla bu destek talebine yanıt yazamazsınız.</p>
        {% else %}
        <h2>Yanıt Gönder</h2>
        <form method="post" enctype="multipart/form-data" action="{% url 'admin_message_response' ticket.ticket_id %}">
            {% csrf_token %}
            <input type="hidden" name="ticket_id" value="{{ ticket.id }}">
            <textarea name="response" rows="4" cols="50"></textarea>
            <input type="file" id="validatedCustomFile" name="validatedCustomFile">
            <br><br>
            <input id="close_ticket" type="checkbox" name="close_ticket" value="close">
            <label for="close_ticket" class="custom-checkbox">Destek Talebini Kapat</label>

            <br><br>
            <input type="submit" value="Cevapla">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}