{% extends "base/reg.html" %}
{% load static %}

{% block title %}Giriş Yap{% endblock %}



{% block formcontent %}

    <main class="main intro-main" >
        
        <div class="form-container">
            <div class="container"></div>
            <div class="container">
                <div class="login-popup">
                    <div class="form-box">
                        <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                            <ul class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link border-no lh-1 ls-normal active" href="{{ scl.school_subdomain }}{% url 'login' %}">Giriş Yap</a>
                                </li>
                                <li class="delimiter">ya da</li>
                                <li class="nav-item">
                                    <a class="nav-link border-no lh-1 ls-normal " href="{% url 'register' %}">Kayıt Ol</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active in" id="signin">
                                    <form method="POST">
                                        {% if form.errors %}
                                            <div class="alert alert-danger alert-dark alert-round alert-inline">
                                                <strong> 
                                                    {{ form.errors }}
                                                </strong>
                                            </div>
                                        {% endif %}
                                        
                                        <div class="form-group mb-3">
                                            {% csrf_token %}
                                            {% for formitem in form %}
                                                {{ formitem.label }}
                                                {{ formitem }}
                                            {% endfor %}
                                                {{ form.errors }}
                                        </div>
                                        
                                        <div class="form-footer right">
                                            <a href="#" class="lost-link">Şifremi Unuttum</a>
                                        </div>
                                        <button class="btn btn-dark btn-block btn-rounded" type="submit">Giriş Yap</button>
                                    </form>
                                    <script>
                                        $(document).ready(function() {
                                            // Add the "form-control" class to the username and password fields
                                            $('#id_username').addClass('form-control');
                                            $('#id_password').addClass('form-control');
                                        });
                                        </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock formcontent %}