{% extends "base/reg.html" %}
{% load i18n static %}

{% block title %}Şifre Sıfırlama{% endblock %}

{% block slider %}
{% endblock slider %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block formcontent %}

<main class="main intro-main" >
        
    <div class="form-container">
        <div class="container"></div>
        <div class="container">
            <div class="login-popup">
                <div class="form-box">
                    <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                        <ul class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link border-no lh-1 ls-normal active" href="{% url 'password_reset' %}">Şifrenizi Sıfırlayın</a>
                            </li>
                            
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active in" id="passreset">
                                <p>{% translate 'Girdiğiniz e-posta ile bir hesap mevcutsa, şifrenizi belirleme talimatlarını size e-posta ile gönderdik. Kısa süre içinde elinize ulaşacaktır.' %}</p>

                                <p>{% translate 'Bir e-posta almazsanız, lütfen kayıt olduğunuz adresi girdiğinizden emin olun ve spam klasörünüzü kontrol edin.' %}</p>

                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-footer right">
                    <a href="{% url 'login' %}" class="lost-link">Giriş Yap</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
