{% extends "base/reg.html" %}
{% load static %}

{% block title %}Giriş Yap{% endblock %}



{% block formcontent %}
    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .form-footer {
            text-align: left; /* Adjust text alignment as needed */
        }

        .form-checkbox {
            margin-top: 10px; /* Adjust space between text and checkbox */
        }
    </style>
    <main class="main intro-main" >

        <div class="form-container">
            <div class="container"></div>

            <div class="container">
                <div class="login-popup">
                    <div class="form-box">
                        <div class="tab tab-nav-simple tab-nav-boxed form-tab">

                            <ul class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link border-no lh-1 ls-normal" href="{% url 'login' %}">Giriş Yap</a>
                                </li>
                                <li class="delimiter">ya da</li>
                                <li class="nav-item">
                                    <a class="nav-link border-no lh-1 ls-normal active" href="{% url 'register' %}">Kayıt Ol</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                
                                <div class="tab-pane active in" id="signin">
                                    {% if form.errors %}
                                    <div class="alert alert-danger alert-dark alert-round alert-inline">
                                        <strong> 
                                            {{ form.errors }}
                                        </strong>
                                    </div>
                                    {% endif %}
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        {% for part in form %}
                                            <div class="form-group mb-2">
                                                {{ part.label }}
                                                {{ part }}
                                            </div>
                                        {% endfor %}
                                        
                                        <div class="form-footer">
                                            <div>
                                                Kişisel verilerin işlenmesi hakkında Aydınlatma Metni'ne
                                                <a href="#" onclick="loadContent('aydinlatma-metni'); return false;"><b>buradan</b></a>
                                                Ulaşabilirsiniz.
                                            </div>
                                        
                                            <div class="form-checkbox">
                                                <input required type="checkbox" class="custom-checkbox" id="signin-remember" name="signin-remember">
                                                <label class="form-control-label" for="signin-remember"><a href="#" onclick="loadContent('kullanim-kosullari'); return false;"><b>Kullanım Koşulları</b></a>'nı okudum onaylıyorum</label>
                                            </div>
                                        </div>
                                        <button class="btn btn-dark btn-block btn-rounded" type="submit">Üye Ol</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- Popup Modal for Displaying Content -->
    <div id="contentModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close" onclick="document.getElementById('contentModal').style.display='none'">&times;</span>
            <div id="contentText"><!-- Dynamic content will be loaded here --></div>
        </div>
    </div>


{% endblock formcontent %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var levelSelect = document.getElementById('id_level_id');  // Adjust the ID if necessary
        var classSelect = document.getElementById('id_class_id');  // Adjust the ID if necessary

        levelSelect.addEventListener('change', function() {
            var levelId = this.value;
            fetch(`get-classes-for-level/?level_id=${levelId}`)
                .then(response => response.json())
                .then(data => {
                    classSelect.innerHTML = '<option value="">Sınıf Seçiniz</option>';
                    data.forEach(function(cls) {
                        var option = new Option(cls.ClassName, cls.id);
                        classSelect.add(option);
                    });
                });
        });
    });
</script>

<script>
    // Function to load and display content in the modal
    window.loadContent = function(page_url) {
        fetch(`/fetch-modal-content/?page_url=${page_url}`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert('Content not found');
                } else {
                    document.getElementById('contentText').innerHTML = data.content;
                    document.getElementById('contentModal').style.display = 'block';
                }
            });
    };
</script>
{% endblock extra_scripts %}
