<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-Commerce Website{% endblock %} | Entegrasyon Cloud</title>
    {% block extra_head %}
    <!-- Any extra head content goes here -->
    {% endblock %}
</head>


<body>
    <header>
        <!-- Your header content goes here -->
    </header>
    <main>
        {% block content %}
        <!-- Your main content goes here -->
        {% endblock %}
    </main>
    <footer>
        <!-- Your footer content goes here -->
    </footer>
    {% block extra_scripts %}
    <!-- Any extra scripts go here -->
    {% endblock %}
</body>
</html>