{% load static %}

<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | {{ schools.schoolsitesettings_set.first.school_header_title }}</title>
    
            <!-- Favicon -->
            <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}">
            <!-- Preload Font -->
            <link rel="preload" href="{% static 'fonts/riode.ttf' %}" as="font" type="font/woff2" crossorigin="anonymous">
            <link rel="preload" href="{% static 'vendor/fontawesome-free/webfonts/fa-solid-900.woff2' %}" as="font" type="font/woff2"
                crossorigin="anonymous">
            <link rel="preload" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.woff2' %}" as="font" type="font/woff2"
                crossorigin="anonymous">
            <script>
                WebFontConfig = {
                    google: { families: [ 'Poppins:300,400,500,600,700,800' ] }
                };
                ( function ( d ) {
                    var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
                    wf.src = '{% static "js/webfont.js" %}';
                    wf.async = true;
                    s.parentNode.insertBefore( wf, s );
                } )( document );
            </script>
    
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
    
        <!-- Plugins CSS File -->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/magnific-popup/magnific-popup.min.css' %}">
        
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/sticky-icon/stickyicon.css' %}">
        
    
        <!-- Main CSS File -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/intro.css' %}">
    
        {% block extra_head %}
        <!-- Any extra head content goes here -->
        {% endblock %}
    </head>

    <body class="intro-page home" style='background-image: url("{{ schools.schoolsitesettings_set.first.school_intro_image.url }}");'>
        
        <div class="logodiv">
            <div class="logo">
                <img class="logo-image" src="{{ schools.schoolsitesettings_set.first.school_logo_header.url }}" alt="">
            </div>
        </div>

       {% block formcontent %}

       {% endblock formcontent %}


       {% if schools.school_popup.exists and school_reg_page_popup.popup_status == True %}
            <div class="newsletter-popup newsletter-pop2 mfp-hide" id="newsletter-popup">   
                {% if school_reg_page_popup.popup_image %}
                <figure>
                    <img src="{{ school_reg_page_popup.popup_image.url }}" width="500" height="264" alt="newsletter2" />
                </figure>
                {% else %}
                <br>
                {% endif %}
                <div class="newsletter-content">
                    <h2 class="font-weight-bolder">{{ school_reg_page_popup.popup_title }}</h2>
                    <br>
                    {{ school_main_page_popup.popup_content|safe  }}
                    <br>
                    <div class="form-checkbox justify-content-center">
                        <input type="checkbox" class="custom-checkbox" id="hide-newsletter-popup" name="hide-newsletter-popup"
                            required />
                        <label for="hide-newsletter-popup">Bu popup'ı bir daha gösterme</label>
                    </div>
                    <br>
                </div>
            </div>
        {% endif %}


        <!-- Plugins JS File -->
        {% block extra_scripts %}
        <!-- Any extra scripts go here -->
        {% endblock %}
        

        <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

        <!-- Main JS File -->
        <script src="{% static 'js/main.min.js' %}"></script>
    </body>
</html>