{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | {{ schools.schoolsitesettings_set.first.school_header_title }}</title>
    
            <!-- Favicon -->
            <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}">
            <!-- Preload Font -->
            <link rel="preload" href="{% static 'fonts/riode.ttf' %}" as="font" type="font/woff2" crossorigin="anonymous">
            <link rel="preload" href="{% static 'vendor/fontawesome-free/webfonts/fa-solid-900.woff2' %}" as="font" type="font/woff2"
                crossorigin="anonymous">
            <link rel="preload" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.woff2' %}" as="font" type="font/woff2"
                crossorigin="anonymous">
            <script>
                WebFontConfig = {
                    google: { families: [ 'Poppins:300,400,500,600,700,800' ] }
                };
                ( function ( d ) {
                    var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
                    wf.src = '{% static "js/webfont.js" %}';
                    wf.async = true;
                    s.parentNode.insertBefore( wf, s );
                } )( document );
            </script>
    
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
    
        <!-- Plugins CSS File -->
    
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/sticky-icon/stickyicon.css' %}">
    
        <!-- Main CSS File -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/intro.css' %}">
    
        {% block extra_head %}
        <!-- Any extra head content goes here -->
        {% endblock %}
    </head>

    <body class="intro-page" style='background-image: url("{{ schools.schoolsitesettings_set.first.school_intro_image.url }}");'>
        
        <div class="logodiv">
            <div class="logo">
                <img class="logo-image" src="{{ schools.schoolsitesettings_set.first.school_logo_header.url }}" alt="">
            </div>
        </div>

       {% block formcontent %}

       {% endblock formcontent %}


        <!-- Plugins JS File -->

        
        <!-- Main JS File -->
        <script src="{% static 'js/main.min.js' %}"></script>
    </body>
</html>