{% extends "base/base.html" %}
{% load static %}

{% block title %}Kategori{% endblock %}

{% block slider %}
{% endblock slider %}

{% block content %}


<main class="main home">
    
    <div class="page-content">

        <!-- Categories -->
        <div class="page-header cph-header" style="background-image: url('images/shop/page-header-back.jpg'); background-color: #659a7f;">
            <h1 class="page-title pt-3">Kategoriler</h1>
            <ul class="breadcrumb">
                <li><a href="{% url 'index' %}"><i class="d-icon-home"></i></a></li>
                <li class="delimiter">/</li>
                <li><a href="{% url 'category' %}">Kategoriler</a></li>
            </ul>
            <div class="row cols-lg-6 cols-md-9 cols-sm-5 cols-8">
                {% for subcat in subcategories %}
                <div class="category category-icon border-no">
                    <a href="{% url 'category_p' subcat.ProductSubCategoryID %}">
                        <figure class="categroy-media ">
                            <img src="{% static 'images/category.png' %}" alt="Category Img" width="50" height="50" />
                        </figure>
                        <h4 class="category-name text-white pt-2 ls-normal">{{ subcat.SubCategoryName }}</h4>
                        {% comment %} <h4 class="category text-white pt-1 ls-md">{{ subcat.product_subcategory.count }} Ürün</h4> {% endcomment %}
                    </a>
                </div>
                {% endfor %}
            </div>
		</div>
        
    </div>
</main>


{% endblock %}
