{% extends "admin/change_list.html" %}

{% block extrastyle %}
{{ block.super }}
    <style>
        .filter-status {
            background-color: #f7f7f7;
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 50px;
        }
        
        .filter-status h2 {
            font-size: 18px;
            margin: 0;
            padding-bottom: 10px;
        }

        .filter-status-list {
            display: flex;
        }
        
        .filter-status-list a {
            display: block;
            margin: 5px;
            padding: 5px 10px;
            background-color: rgba(70,130,180, 0.3);
            color: #fffff;
            text-decoration: none;
            border-radius: 3px;
            transition: background-color 0.2s;
        }
        
        .filter-status a:hover {
            background-color: rgba(70,130,180, 0.4);
        }
    </style>
{% endblock %}


{% block content %}
<div class="filter-status" style="margin-bottom:50px">
    <h2>Filter by Status</h2>
    <div class="filter-status-list">
        <a href="?product_state__exact=Aktif" class="button">Aktif Ürünler</a>
        <a href="?product_state__exact=Pasif" class="button">Pasif Ürünler</a>
    </div>
</div>
<div class="filter-status" style="margin-bottom:50px">
    <h2>Filter by Product Type</h2>
    <div class="filter-status-list">
        <a href="?product_type__exact=Tekil" class="button">Tekil Ürünler</a>
        <a href="?product_type__exact=Kombin" class="button">Kombin Ürünler</a>
        <a href="?product_type__exact=Set" class="button">Set Ürünler</a>
    </div>
</div>
{{ block.super }}
{% endblock %}