{% extends "base/reg.html" %}
{% load i18n static %}
{% load widget_tweaks %}

{% block title %}Şifre Sıfırlama{% endblock %}

{% block slider %}
{% endblock slider %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block formcontent %}

<main class="main intro-main" >
        
    <div class="form-container">
        <div class="container"></div>
        <div class="container">
            <div class="login-popup">
                <div class="form-box">
                    <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                        <ul class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link border-no lh-1 ls-normal active" href="{% url 'password_reset' %}">Şifrenizi Sıfırlayın</a>
                            </li>
                            
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active in" id="passreset">
                                {% if validlink %}

                                <p>{% translate "Doğru yazdığınızı doğrulayabilmemiz için lütfen yeni şifrenizi iki kez girin." %}</p>

                                <form method="post">{% csrf_token %}
                                    {% comment %} <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}"><br> {% endcomment %}
                                    <label for="id_new_password1">{% translate 'Yeni Şifre:' %}</label>
                                    <div class="form-row field-password1">
                                        {{ form.new_password1.errors }}
                                        {{ form.new_password1|add_class:"form-control" }}
                                    </div>
                                    <label for="id_new_password2">{% translate 'Şifrenizi Doğrulayın:' %}</label>
                                    <div class="form-row field-password2">
                                        {{ form.new_password2.errors }}
                                        {{ form.new_password2|add_class:"form-control" }}
                                    </div>
                                    </br>
                                    <input class="btn btn-dark btn-block btn-rounded" type="submit" value="{% translate 'Change my password' %}">
                                </form>

                                {% else %}

                                <p>{% translate "Şifre sıfırlama bağlantısı geçersiz, muhtemelen zaten kullanılmış. Lütfen yeni bir şifre sıfırlama talebinde bulunun." %}</p>

                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-footer right">
                    <a href="{% url 'login' %}" class="lost-link">Giriş Yap</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block content %}

<p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

<p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

{% endblock %}
