{% extends "base/base.html" %}
{% load static %}

{% block title %}Sepet{% endblock %}

{% block slider %}
{% endblock slider %}

{% block extra_head%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
{% endblock extra_head%}

{% block content %}

<main class="main cart">
    <div class="page-content pt-7 pb-10">
        <div class="step-by pr-4 pl-4">
            <h3 class="title title-simple title-step active"><a href="{% url 'cart' %}">1. Sepet</a></h3>
            <h3 class="title title-simple title-step"><a href="{% url 'checkout' %}">2. Ödeme Bilgileri</a></h3>
            <h3 class="title title-simple title-step"><a href="{% url 'order' %}">3. Sipariş Tamamlandı</a></h3>
        </div>
        <div class="container mt-7 mb-2">
            <div class="row">
                <div class="col-lg-8 col-md-12 pr-lg-4">
                    <table class="shop-table cart-table">
                        <thead>
                            <tr>
                                <th><span>Ürün</span></th>
                                <th></th>
                                <th><span>Fiyat</span></th>
                                <th><span>Adet</span></th>
                                <th>Toplam</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prod in cartitems %}
                            <tr>
                                <td class="product-thumbnail">
                                    <figure>
                                        {% if prod.product.product_type == 'Tekil' %} 
                                            <a href="{% url 'product' prod.product.ProductID %}">
                                        {% elif prod.product.product_type == 'Kombin' %} 
                                            <a href="{% url 'combproduct' prod.product.ProductID %}">
                                        {% endif %}
                                            <img src="{{ prod.product.productimages_set.first.product_image.url }}" width="100" height="100"
                                                alt="product">
                                        </a>
                                    </figure>
                                </td>
                                <td class="product-name">
                                    <div class="product-name-section">
                                        {% if prod.product.product_type == 'Tekil' %} 
                                            <a href="{% url 'product' prod.product.ProductID %}" class="product-name">{{ prod.product.product_web_name }} | {{ prod.size_stock.size }}</a>
                                        {% elif prod.product.product_type == 'Kombin' %} 
                                            <a href="{% url 'combproduct' prod.product.ProductID %}" class="product-name">{{ prod.product.product_web_name }}</a>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="product-subtotal">
                                    <h6 class="amount">{{ prod.single_price }} ₺</h6>
                                    <del class="amount old-price">
                                        {% if prod.old_price > 0 %}
                                        {{ prod.old_price }} ₺
                                        {% endif %}
                                    </del>
                                </td>
                                <td class="product-quantity">
                                    <div class="input-group mr-2">
                                        <button class="quantity-minus d-icon-minus"></button>
                                        <input name="product-quantity" id="product-quantity" class="quantity-new form-control" value="{{ prod.quantity }}" type="number" min="1" max="10000">
                                        <button class="quantity-plus d-icon-plus"></button>
                                    </div>
                                </td>
                                <td class="product-price">
                                    <span class="amount">{{ prod.total_price }} ₺</span>
                                </td>
                                <td class="product-close">
                                    <button class="product-remove" onclick="setTimeout(function(){ location.reload(); }, 250);" title="Sepetten Kaldır" data-product="{{ prod.id }}">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                            {% if prod.product.product_type == 'Kombin' %}
                                {% for item in prod.combinedproductchoice_set.all %}
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td class="product-name">{{ item.selected_product.product_web_name }} 
                                            <spanclass="product-quantity">|&nbsp;{{ item.size_stock.size }}</span>
                                        </td>
                                        <td class="product-total text-body">$110.00</td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="cart-actions mb-6 pt-4">
                        <a href="{% url 'index' %}" class="btn btn-dark btn-md btn-rounded btn-icon-left mr-4 mb-4"><i
                                class="d-icon-arrow-left"></i>Alışverişe Devam Et
                        </a>
                        <button type="submit" class="btn btn-outline btn-dark btn-md btn-rounded btn-disabled">
                            Sepeti Güncelle
                        </button>
                    </div>
                    <div class="cart-coupon-box mb-8">
                        <h4 class="title coupon-title text-uppercase ls-m">İndirim Kodu</h4>
                        <input type="text" name="coupon_code"
                            class="input-text form-control text-grey ls-m mb-4" id="coupon_code" value="{{ cart.CouponCode }}"
                            placeholder="İndirim kodunuzu giriniz...">
                        <button type="submit" class="btn btn-md btn-dark btn-rounded btn-outline">İndirimi Uygula
                        </button>
                    </div>
                </div>
                
                <aside class="col-lg-4 sticky-sidebar-wrapper">
                    <div class="sticky-sidebar" data-sticky-options="{'bottom': 20}">
                        <div class="summary mb-4">
                            <h3 class="summary-title text-left">Sepet Detayları</h3>
                            <table class="shipping">
                                <tr class="summary-subtotal">
                                    <td>
                                        <h4 class="summary-subtitle">Ürün Toplamı</h4>
                                    </td>
                                    <td>
                                        <p class="summary-subtotal-price">{{ cart.old_price }} ₺</p>
                                    </td>
                                </tr>
                                <tr class="summary-subtotal">
                                    <td>
                                        <h4 class="summary-subtitle">Kargo</h4>
                                    </td>
                                    <td>
                                        <p class="summary-subtotal-price">{{ cart.shipping_cost }} ₺</p>
                                    </td>
                                </tr>
                                {% comment %} {% for prod in cartitems %}
                                    <tr>
                                        <td class="product-name">
                                            <span class="product-quantity">{{ prod.quantity }}&nbsp;×</span>
                                            {{ prod.product.product_web_name }} 
                                        </td>
                                        <td class="product-total text-body">{{ prod.cartitem_total }} ₺</td>
                                    </tr>
                                {% endfor %} {% endcomment %}

                                <tr class="summary-subtotal">
                                    <td>
                                        <h4 class="summary-subtitle">İndirimler</h4>
                                    </td>
                                    <td>
                                        <p class="summary-subtotal-price">
                                            {% if cart.total_disconts_after_snd != 0 %}-{% endif %} {{ cart.total_disconts_after_snd }} ₺
                                        </p>
                                    </td>
                                </tr>
                                {% if cart.total_discount > 0 %}
                                <tr>
                                    <td class="product-name">
                                        <span class="product-quantity">Ürün İndirimleri</span>
                                        {{ prod.product.product_web_name }} 
                                    </td>
                                    <td class="product-total text-body">-{{ cart.total_discount }} ₺</td>
                                </tr>
                                {% endif %}

                                {% if cart.shipping_cost == 0 and cart.user_cart.exists %}
                                <tr>
                                    <td class="product-name">
                                        <span class="product-quantity">Kargo İndirimi</span>
                                    </td>
                                    <td class="product-total text-body">- {{ cart.shipping }} ₺</td>
                                </tr>
                                {% endif %}

                                {% if cart.CouponDiscount != 0 %}
                                <tr>
                                    <td class="product-name">
                                        <span class="product-quantity">İndirim Kuponu <b>( {{ cart.CouponCode }} )</b></span>
                                        {{ prod.product.product_web_name }} 
                                    </td>
                                    <td class="product-total text-body">- {{ cart.CouponDiscount }} ₺</td>
                                </tr>
                                {% endif %}

                            </table>
                            <table class="total">
                                <tr class="summary-subtotal">
                                    <td>
                                        <h4 class="summary-subtitle">Toplam</h4>
                                    </td>
                                    <td>
                                        <p class="summary-total-price ls-s">{{ cart.total_price }} ₺</p>
                                    </td>
                                </tr>
                            </table>
                            <a href="{% url 'checkout' %}" class="btn-product btn-cart text-normal ls-normal font-weight-semi-bold">Ödeme Aşamasına Geç
                            </a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>

</main>

{% endblock content %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Wait for a short period to ensure all scripts have run
        setTimeout(function() {
            // Get all the quantity input elements
            var quantityInputs = document.querySelectorAll('.quantity.form-control');

            quantityInputs.forEach(function(input) {
                // Fetch the correct quantity from the corresponding hidden input (if you have one)
                // Alternatively, you can rely on the initial value set by Django template if it's not overridden
                var correctQuantity = document.querySelectorAll('.get-quantity').val();

                // Update the quantity input with the correct value
                input.value = correctQuantity;
            });
        }, 500); // Adjust the timeout duration if needed
    });
</script>
<script>
    $('.product-remove').on('click', function(){
        let cart_item_id = $(this).attr("data-product")
        let this_val = $(this)

        console.log("Product ID:", cart_item_id);

        $.ajax({
            type: 'POST',
            url: '{% url "delete_from_cart" %}',
            data: {
                "cart_item_id" : cart_item_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                // Handle the response, such as removing the row from the table
                if(response.deleted) {
                    $(this).closest('tr').remove();
                }
            },
            error: function(xhr, status, error) {
                // Error handling
                console.error('AJAX error:', status, error);
                console.error('Response:', xhr.responseText);
                alert('Error in deleting item: ' + xhr.responseText);
            }
        });
    });
</script>
{% endblock extra_scripts %}