{% extends "base/base.html" %}
{% load static %}

{% block title %}Kategori{% endblock %}

{% block slider %}
{% endblock slider %}

{% block content %}


<main class="main home">
    
    <div class="page-content">

        <!-- Categories -->
        <div class="page-header cph-header" style="background-color: #659a7f;">
            <h1 class="page-title pt-3">Kategoriler</h1>
            <ul class="breadcrumb">
                <li><a href="{% url 'index' %}"><i class="d-icon-home"></i></a></li>
                <li class="delimiter">/</li>
                <li><a href="{% url 'category' %}">Kategoriler</a></li>
                
                {% if cat %}
                    <li class="delimiter">/</li>
                    <li><a href="{% url 'category_m' cat.ProductCategoryID %}">{{ cat.CategoryName }}</a></li>
                {% elif subcat %}
                    <li class="delimiter">/</li>
                    <li><a href="{% url 'category_m' subcat.ProductCategory.ProductCategoryID %}">{{ subcat.ProductCategory.CategoryName }}</a></li>
                    <li class="delimiter">/</li>
                    <li><a href="{% url 'category_p' subcat.ProductSubCategoryID %}">{{ subcat.SubCategoryName }}</a></li>
                {% endif %}

            </ul>

            {% if cat %}
            <div class="row cols-lg-6 cols-md-9 cols-sm-5 cols-8">
                {% for sc in cat.productsubcategory_set.all %}
                <div class="category category-icon border-no">
                    <a href="{% url 'category_p' sc.ProductSubCategoryID %}">
                        <figure class="categroy-media ">
                            <img src="{% static 'images/category.png' %}" alt="Category Img" width="50" height="50" />
                        </figure>
                        <h4 class="category-name text-white pt-2 ls-normal">{{ sc.SubCategoryName }}</h4>
                        {% comment %} <h4 class="category text-white pt-1 ls-md">{{ sc.product_subcategory.count }} Ürün</h4> {% endcomment %}
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}


            {% comment %} <div class="row cols-lg-6 cols-md-9 cols-sm-5 cols-8">
                {% for sc in subcategories %}
                <div class="category category-icon border-no">
                    <a href="{% url 'category_p' sc.ProductSubCategoryID %}">
                        <figure class="categroy-media ">
                            <img src="{% static 'images/category.png' %}" alt="Category Img" width="50" height="50" />
                        </figure>
                        <h4 class="category-name text-white pt-2 ls-normal">{{ sc.SubCategoryName }}</h4>
                        <h4 class="category text-white pt-1 ls-md">{{ subcat.product_subcategory.count }} Ürün</h4>
                    </a>
                </div>
                {% endfor %}
            </div> {% endcomment %}
		</div>
        


        <!-- Products -->
        
        <div class="container">
            <div class="row main-content-wrap gutter-lg">

                <div class="main-content">
                    
                    <div style="margin-top: 25px; margin-bottom: 50px;">
                        {% if cat %}
                        <h1>{{ cat.CategoryName }} | Ürünler</h1>
                        {% elif subcat %}
                        <h1>{{ subcat.SubCategoryName }} | Ürünler</h1>
                        {% endif %}
                    </div>

                    {% comment %} <nav class="toolbox sticky-toolbox sticky-content fix-top" >

                        <div class="toolbox-left">

                            <!-- FİLTRELEME BENCE TAMAMEN KALKMALI --> <!--
                            <a href="#" class="toolbox-item left-sidebar-toggle btn btn-outline btn-primary btn-rounded btn-icon-right">Filter<i class="d-icon-arrow-right"></i></a>
                            -->

                            <div class="toolbox-item toolbox-sort select-box text-dark"> <!-- Sort by yapılacak kadar önemli değil bence ama nasıl istenirse -->
                                <label>Sort By :</label>
                                <select name="orderby" class="form-control">
                                    <option value="default">Default</option>
                                    <option value="popularity" selected="selected">Most Popular</option>
                                    <option value="rating">Average rating</option>
                                    <option value="date">Latest</option>
                                    <option value="price-low">Sort forward price low</option>
                                    <option value="price-high">Sort forward price high</option>
                                    <option value="">Clear custom sort</option>
                                </select>
                            </div>

                        </div>

                        <div class="toolbox-right"> <!-- Bence Gereksiz bir kısım ama kullanılabilir istenirse -->

                            <div class="toolbox-item toolbox-show select-box text-dark">
                                <label>Show :</label>
                                <select name="count" class="form-control">
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                </select>
                            </div>

                        </div>

                    </nav> {% endcomment %}


                    <div class="row cols-2 cols-md-3 cols-lg-4 product-wrapper">

                        {% for product in active_products_by_cat %}
                            <div class="product-wrap">
                                <div class="product product-classic">

                                    <!-- Product Image and Labeling -->
                                    <figure class="product-media">
                                        <a href="
                                                    {% if product.product_type == 'Tekil' %} 
                                                        {% url 'product' product.ProductID %} 
                                                    {% elif product.product_type == 'Kombin' %} 
                                                        {% url 'combproduct' product.ProductID %} 
                                                    {% endif %}
                                                    ">
                                            {% if product.productimages_set.first %}
                                                <img src="{{ product.productimages_set.first.product_image.url }}" alt="{{ product.product_name }}" width="280" height="315">
                                            {% else %}
                                                <img src="{% static 'images/products/no-image.png' %}" alt="{{ product.product_name }}" max-height='315' height="315" width="280" >
                                            {% endif %}
                                        </a>
                                        <div class="product-label-group">
                                            {% if product.label %}
                                                <label class="product-label label-new">YENİ</label>
                                            {% endif %}

                                            {% if product.display_price.DiscountRatio and product.display_price.DiscountRatio > 0 %}
                                                <label class="product-label label-sale" style="color: #fff;background-color:#dd3333"><i class="d-icon-card"></i> {{ product.display_price.DiscountRatio }}% </label>
                                            {% endif %}
                                        </div>
                                    </figure>

                                    <div class="product-details">
                                        <div class="product-cat">
                                            <a href="{% url 'category' %}#{{ product.ProductSubCategoryID.ProductSubCategoryID }}">{{ product.ProductSubCategoryID.SubCategoryName }}</a> 
                                        </div>
                                        <h3 class="product-name">
                                            <a href="
                                                    {% if product.product_type == 'Tekil' %} 
                                                        {% url 'product' product.ProductID %} 
                                                    {% elif product.product_type == 'Kombin' %} 
                                                        {% url 'combproduct' product.ProductID %} 
                                                    {% endif %}
                                                    ">
                                                {{ product.product_web_name }}
                                            </a>
                                        </h3>
                                        <div class="product-price">
                                            <ins class="new-price">
                                                {% if product.display_price %}
                                                    {{ product.display_price.SalePrice }} ₺ 
                                                {% endif %}
                                            </ins>
                        
                                            {% if product.display_price and product.display_price.StrikedPrice > 0 %}
                                                <del class="old-price">{{ product.display_price.StrikedPrice }} ₺</del>
                                            {% endif %}
                                        </div>

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart"><i class="d-icon-bag"></i><span>Add to cart</span></a>
                                            <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}

                    </div>

                </div>

            </div>
        </div>r





        {% comment %} 
        <!-- Products -->
        <div class="container" {% for subcat in subcategories %}id={{ subcat.first.SubCategoryName }}{% endfor %}>
            <div class="row main-content-wrap gutter-lg">

                <div class="main-content">
                    
                    <div style="margin-top: 25px;">
                        <h1>Ürünler</h1>
                    </div>

                    <nav class="toolbox sticky-toolbox sticky-content fix-top" >

                        <div class="toolbox-left">

                            <!-- FİLTRELEME BENCE TAMAMEN KALKMALI --> <!--
                            <a href="#" class="toolbox-item left-sidebar-toggle btn btn-outline btn-primary btn-rounded btn-icon-right">Filter<i class="d-icon-arrow-right"></i></a>
                            -->

                            <div class="toolbox-item toolbox-sort select-box text-dark"> <!-- Sort by yapılacak kadar önemli değil bence ama nasıl istenirse -->
                                <label>Sort By :</label>
                                <select name="orderby" class="form-control">
                                    <option value="default">Default</option>
                                    <option value="popularity" selected="selected">Most Popular</option>
                                    <option value="rating">Average rating</option>
                                    <option value="date">Latest</option>
                                    <option value="price-low">Sort forward price low</option>
                                    <option value="price-high">Sort forward price high</option>
                                    <option value="">Clear custom sort</option>
                                </select>
                            </div>

                        </div>

                        <div class="toolbox-right"> <!-- Bence Gereksiz bir kısım ama kullanılabilir istenirse -->

                            <div class="toolbox-item toolbox-show select-box text-dark">
                                <label>Show :</label>
                                <select name="count" class="form-control">
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                </select>
                            </div>

                        </div>

                    </nav>


                    <div class="row cols-2 cols-md-3 cols-lg-4 product-wrapper">

                        {% for product in active_products %}
                            <div class="product-wrap">
                                <div class="product product-classic">

                                    <!-- Product Image and Labeling -->
                                    <figure class="product-media">
                                        <a href="{% url 'product' product.ProductID %}">
                                            {% if product.productimages_set.first %}
                                                <img src="{{ product.productimages_set.first.product_image.url }}" alt="{{ product.product_name }}" width="280" height="315">
                                            {% else %}
                                                <img src="{% static 'images/products/no-image.png' %}" alt="{{ product.product_name }}" max-height='315' height="315" width="280" >
                                            {% endif %}
                                        </a>
                                        <div class="product-label-group">
                                            {% if product.label %}
                                                <label class="product-label label-new">YENİ</label>
                                            {% endif %}

                                            {% if product.productprices_set.first.DiscountRatio > 0 %}
                                                <label class="product-label label-sale">{{ product.productprices_set.first.DiscountRatio }}% </label>
                                            {% endif %}
                                        </div>
                                    </figure>

                                    <div class="product-details">
                                        <div class="product-cat">
                                            <a href="shop-default-3.html">{{ product.ProductSubCategoryID.SubCategoryName }}</a> 
                                        </div>
                                        <h3 class="product-name">
                                            <a href="product.html">{{ product.product_web_name }}</a>
                                        </h3>
                                        <div class="product-price">
                                            <ins class="new-price">
                                                {% if product.productprices_set.first %}
                                                    {{ product.productprices_set.first.SalePrice }} ₺
                                                {% endif %}
                                            </ins>

                                            {% if product.productprices_set.first and product.productprices_set.first.StrikedPrice > 0 %}
                                                <del class="old-price">{{ product.productprices_set.first.StrikedPrice }} ₺</del>
                                            {% endif %}
                                        </div>

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart"><i class="d-icon-bag"></i><span>Add to cart</span></a>
                                            <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}

                    </div>

                </div>

            </div>
        </div> 
        {% endcomment %}

    </div>
</main>


{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Function to show the category content based on the fragment
        function showCategoryFromFragment() {
            const fragment = window.location.hash.substr(1); // Get the fragment without the '#'
            const categoryContents = document.querySelectorAll('.category-content');
    
            // Hide all category contents
            categoryContents.forEach(content => {
                content.style.display = 'none';
            });
    
            // Show the category content for the matching fragment (if it exists)
            const matchingContent = document.getElementById(fragment);
            if (matchingContent) {
                matchingContent.style.display = 'block';
            };
            matchingContent.scrollIntoView({ behavior: 'smooth' });
        }
    
        // Add an event listener to handle fragment changes (e.g., when the user changes the URL)
        window.addEventListener('hashchange', showCategoryFromFragment);
    
        // Initial call to show the category based on the initial URL fragment
        showCategoryFromFragment();
    });
</script>
{% endblock %}