<style>
    .support-form-buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 10px;
    }
    .send-message-box {
        display: none;
    }
</style>
<header class="chat-header">
    <div class="chat-header-container">
        <div class="chat-header-right to-right">
            <button type="button" name="create-new-support" id="create-new-support" class="btn btn-primary" onclick="toggleSupportForm()">
                Yeni Destek Talebi Oluştur
            </button>
        </div>
    </div>
</header>
<div class="chat-container">
    <div class="row" id="chatbox-container">
        <!-- LISTING -->
        <div class="col-md-4 mb-6 testimonial-big-box">
            <div class="chat-my-supports">

                {% if not supports %}
                <div class="testimonial-list-title">
                    <p>Henüz Bir Destek Talebiniz Bulunmamaktadır. Yukarıdaki butonu kullanarak yeni destek talebi oluşturabilirsiniz.</p>
                </div>
                {% endif %}

                {% for support in supports %}
                    <div class="chat-support-item" data-ticket-id="{{ support.ticket_id }}" 
                            data-url="{% url 'get_support_messages' support.ticket_id %}"
                            onclick="loadSupportContent('{{ support.ticket_id }}')">

                        <div class="testimonial-list-id">
                            <span>{{ support.ticket_id }}</span>
                        </div>
                        <div class="testimonial-list-title">
                            <p>{{ support.title }}</p>
                        </div>
                        {% if support.status == 'OPEN' %}
                        <div class="testimonial-list-status" style="color:#BF7B04;">
                            <span>
                                <i class="fas fa-dot-circle"></i>
                            </span>
                            <p>Talebiniz Alındı</p>
                        </div>
                        {% elif support.status == 'IN_PROGRESS' %}
                        <div class="testimonial-list-status" style="color:#8ebf16;">
                            <span>
                                <i class="fas fa-dot-circle"></i>
                            </span>
                            <p>Talebiniz İnceleniyor</p>
                        </div>
                        {% elif support.status == 'CLOSED' %}
                        <div class="testimonial-list-status" style="color:#3D7B04;">
                            <span>
                                <i class="fas fa-dot-circle"></i>
                            </span>
                            <p>Çözüldü</p>
                        </div>
                        {% endif %}

                    </div>
                {% endfor %}

            </div>
        </div>
        
        <!-- DETAIL -->
        <div class="col-md-8 mb-6 testimonial-big-box">

            <div class="testimonial-box">

                {% comment %} <div class="row row-testimonials">
                    <div class="col-md-2 mb-6"></div>
                    
                    <div class="col-md-10 mb-6">
                        <div class="testimonial testimonial-inversed">
                            <div class="testimonial-title">
                                <span>Kullanıcı Mesajı</span>
                            </div>
                            <blockquote>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euante
                                eget nisl convallis tempus Phsellus anctus, tincidunt tincidunt dui.met,
                                consectetur adipiscing elit. Sed eu ante eget nisldolor sit amet.
                            </blockquote>
                            <div class="testimonial-title">
                                <cite>
                                    <p>Tarih</p>
                                </cite>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-testimonials">
                    <div class="col-md-10 mb-6">
                        <div class="testimonial">
                            <div class="text-right testimonial-title">
                                <span>Admin Yanıtı</span>
                            </div>
                            <blockquote>
                                Bu bir admin yanıt örneğidir.
                            </blockquote>
                            <div class="testimonial-title">
                                <cite>
                                    <span>Tarih</span>
                                </cite>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 mb-6"></div>
                </div> {% endcomment %}
                
            </div>
            
            
            <footer class="send-message-box">
                <form class="msger-inputarea" enctype="multipart/form-data" id="messageForm" onsubmit="sendMessage(event)" data-post-message-url="{% url 'post_chat_message' %}">
                    {% csrf_token %}
                    <input type="file" class="custom-file-input" id="validatedCustomFile" onchange="updateFileName(this);">
                    <label class="custom-file-label" for="validatedCustomFile"></label>
            
                    <input type="text" class="msger-input" name="message" placeholder="Mesajınızı giriniz...">
                    <input type="hidden" name="ticket_id" id="selectedTicketId" value="selectedTicketId">
                    <button type="submit" class="msger-send-btn">Gönder</button>
                </form>
                <input readonly id="file-name-input" value="">
            </footer>     
        </div>
        
    </div>
    
</div>

<script>     
    var CURRENT_USER_ID = {{ request.user.id }};
    function updateFileName(input) {
        var fileName = input.files[0].name;
        var label = document.querySelector('label[for="' + input.id + '"]');
        var fni = document.getElementById("file-name-input")
        fni.value = fileName;
    }
</script>
<script>
    function sendMessage(event) {
        event.preventDefault(); // Prevent the default form submission
    
        var form = document.getElementById('messageForm');
        var url = form.getAttribute('data-post-message-url');
        var formData = new FormData(form);
        
        // Append CSRF token to formData
        var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        formData.append('csrfmiddlewaretoken', csrfToken);
    
        // Send the data using AJAX
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                loadSupportContent(document.getElementById('selectedTicketId').value);
            },
            error: function(xhr, status, error) {
                console.error("Error: " + error);
            }
        });
    }
    
    

    function showFooter() {
        document.querySelector('.send-message-box').style.display = 'block';
    }
    document.querySelectorAll('.chat-support-item').forEach(ticket => {
        ticket.addEventListener('click', showFooter);
    });
    document.addEventListener('DOMContentLoaded', (event) => {
        updateSubjects(); 
    });
    function toggleSupportForm() {
        var chatboxContainer = document.getElementById('chatbox-container');
        var formHtml = `
            <div class="col-md-12 mb-6 testimonial-big-box">
                <div class="chat-my-supports">
                    <div class="testimonial-list-title">
                        <p>Yeni Destek Talebi Oluştur</p>
                    </div>
                    <form id="support-form" method="post" enctype="multipart/form-data" action="{% url 'create_support_ticket' %}">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="title">Başlık:</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="category">Kategori:</label>
                            <select class="form-control" id="categorySelect" name="category" onchange="updateSubjects()">
                                <option value="Kıyafet">Kıyafet</option>
                                <option value="Kitap">Kitap</option>
                            </select>
                        </div>

                        <div class="form-group mb-3">
                            <label for="subject">Konu:</label>
                            <select class="form-control" id="subjectSelect" name="subject">
                                <!-- Options will be added dynamically -->
                            </select>
                        </div>

                        <div class="form-group mb-3">
                            <label for="description">Açıklama:</label>
                            <textarea class="form-control" id="description" name="description" rows="6" required></textarea>
                        </div>

                        <div class="form-group mb-3">
                            <label for="fileUpload">Görsel Yükleyiniz:</label>
                            <input type="file" class="form-control" id="fileUpload" name="fileUpload">
                        </div>

                        <div class="support-form-buttons mt-3">
                            <button type="button" class="btn btn-secondary" onclick="cancelSupportForm()">İptal</button>
                            <button type="submit" class="btn btn-primary">Oluştur</button>
                        </div>
                    </form>
                </div>
            </div>`;
        chatboxContainer.innerHTML = formHtml;
        updateSubjects();
        var createButton = document.getElementById('create-new-support');
        createButton.style.display = 'none';
    }

    function cancelSupportForm() {
        // Redirect back to the original support chat box state
        window.location.reload();
    }

    function loadSupportContent(ticketId) {
        var url = `/account/support-messages/${ticketId}/`; // The URL to your Django view
        var selectedTicketId = document.getElementById('selectedTicketId') 

        
        $.ajax({
            url: url,
            method: 'GET',
            success: function(response) {
                var messagesContainer = document.querySelector('.testimonial-box'); // The container where messages will be displayed
                messagesContainer.innerHTML = ''; // Clear previous messages

                var messagesentContainer = document.querySelector('.send-message-box'); // The container where messages will be sent
                messagesentContainer.innerHTML = ''; // Clear previous messages
    
                var messagecontainersenderhtml =`
                <form class="msger-inputarea" enctype="multipart/form-data" id="messageForm" onsubmit="sendMessage(event)" data-post-message-url="{% url 'post_chat_message' %}">
                    {% csrf_token %}
                    <input type="file" class="custom-file-input" id="validatedCustomFile" onchange="updateFileName(this);">
                    <label class="custom-file-label" for="validatedCustomFile"></label>
            
                    <input type="text" class="msger-input" name="message" id="message" placeholder="Mesajınızı giriniz...">
                    <input type="hidden" name="ticket_id" id="selectedTicketId" value="${ticketId}">
                    <button type="submit" class="msger-send-btn">Gönder</button>
                </form>
                <input readonly id="file-name-input" value="">
                `
                messagesentContainer.innerHTML += messagecontainersenderhtml
                response.messages.forEach(function(message) {
                    var messageHtml;
                    if (message.sender__username == '{{ request.user }}') {
                        var messageHtml = `
                            <div class="row row-testimonials">
                                <div class="col-md-2 mb-6"></div>
                                
                                <div class="col-md-10 mb-6">
                                    <div class="testimonial testimonial-inversed">
                                        <div class="testimonial-title">
                                            <span>${message.sender__first_name} ${message.sender__last_name}</span>
                                        </div>
                                        <blockquote>${message.message}</blockquote>
                                        <div class="testimonial-title">
                                            <cite>
                                                <p>${new Date(message.created_at).toLocaleString()}</p>
                                            </cite>
                                        </div>
                                    </div>
                                </div>
                            </div>`;
                        messagesContainer.innerHTML += messageHtml;
                    } else {
                        var messageHtml = `
                            <div class="row row-testimonials">
                                <div class="col-md-10 mb-6">
                                    <div class="testimonial">
                                        <div class="text-right testimonial-title">
                                            <span>${message.sender__first_name} ${message.sender__last_name}</span>
                                        </div>
                                        <blockquote>${message.message}</blockquote>
                                        <div class="testimonial-title">
                                            <cite>
                                                <p>${new Date(message.created_at).toLocaleString()}</p>
                                            </cite>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-2 mb-6"></div>
                            </div>`;
                        messagesContainer.innerHTML += messageHtml;
                    }
                });
            },
            error: function(error) {
                console.log('Error fetching messages:', error);
            }
        });
    }
    const subjectsByCategory = {
        "Kıyafet": {
            "Degisim": "Kıyafet/Değişim",
            "Iade": "Kıyafet/İade",
            "Iptal": "Kıyafet/İptal",
            "Fatura": "Kıyafet/Fatura",
            "Urun": "Kıyafet/Ürün",
            "Siparis": "Kıyafet/Sipariş",
            "Web": "Kıyafet/Web",
            "Kargo": "Kıyafet/Kargo",
            "Teslimat": "Kıyafet/Teslimat",
            "Odeme": "Kıyafet/Ödeme",
            "HataliUrun": "Kıyafet/Hatalı Ürün",
            "EskiUrun": "Kıyafet/Eski Ürün"
        },
        "Kitap": {
            "Kargolama": "Kitap/Kargolama",
            "SipIptal": "Kitap/Sipariş İptal",
            "KitapDegisim": "Kitap/Değişim",
            "KitapIade": "Kitap/İade",
            "KitapIptal": "Kitap/İptal",
            "KitapKargo": "Kitap/Kargo",
            "KitapTeslimat": "Kitap/Teslimat",
            "KitapHataliUrun": "Kitap/Hatalı Ürün",
            "KitapEksikUrun": "Kitap/Eksik Ürün"
        }
    };
    
    function updateSubjects() {
        const categorySelect = document.getElementById("categorySelect");
        const subjectSelect = document.getElementById("subjectSelect");
        if (!categorySelect || !subjectSelect) return;
    
        const selectedCategory = categorySelect.value;
        const subjects = subjectsByCategory[selectedCategory] || {};
    
        subjectSelect.innerHTML = Object.entries(subjects).map(([value, name]) => 
            `<option value="${value}">${name}</option>`
        ).join('');
    }
    function handleCategoryChange() {
        const categorySelect = document.getElementById("categorySelect");
        const subjectSelect = document.getElementById("subjectSelect");
        if (!categorySelect || !subjectSelect) return; // Exit if elements are not found
    
        const selectedCategory = categorySelect.value;
        const subjects = subjectsByCategory[selectedCategory] || [];
    
        subjectSelect.innerHTML = subjects.map(subject => `<option value="${subject}">${subject}</option>`).join('');
    }
</script>