<div class="row">
    <div class="col-md-4 mb-6">
        asdasd
    </div>

    <div class="col-md-8 mb-6">
        <div class="owl-nav-bottom cols-1" data-owl-options="{
            'items': 1,
            'nav': true,
            'dots': false,
            'autoPlay': true,
            'loop': false,
            'margin': 20
        }">
            <div class="testimonial">
                <div class="text-right testimonial-title">
                    <span>Herman Beck</span>
                </div>
                <blockquote>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euante
                    eget nisl convallis tempus Phsellus anctus, tincidunt tincidunt dui.met,
                    consectetur adipiscing elit. Sed eu ante eget nisldolor sit amet.
                </blockquote>
                <div class="text-right testimonial-title">
                    <cite>
                        <span>Tarih</span>
                    </cite>
                </div>
            </div>
            <br>

            <div class="testimonial testimonial-inversed">
                <div class="text-right testimonial-title">
                    <span>Herman Beck</span>
                </div>
                <blockquote>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euante
                    eget nisl convallis tempus Phsellus anctus, tincidunt tincidunt dui.met,
                    consectetur adipiscing elit. Sed eu ante eget nisldolor sit amet.
                </blockquote>
                <div class="text-right testimonial-title">
                    <cite>
                        <span>Tarih</span>
                    </cite>
                </div>
            </div>
        </div>
    </div>
</div>