{% extends "base/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Ödeme{% endblock %}

{% block slider %}
{% endblock slider %}

{% block extra_head%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
{% endblock extra_head%}

{% block content %}
<main class="main checkout">
    <div class="page-content pt-7 pb-10 mb-10">
        <div class="step-by pr-4 pl-4">
            <h3 class="title title-simple title-step"><a href="{% url 'cart' %}">1. Sepet</a></h3>
            <h3 class="title title-simple title-step active"><a href="{% url 'checkout' %}">2. Ödeme Bilgileri</a></h3>
            <h3 class="title title-simple title-step"><a href="{% url 'order' %}">3. Sipariş Tamamlandı</a></h3>
        </div>
        <div class="container mt-7">
            <div class="card accordion">
                <div class="alert alert-light alert-primary alert-icon mb-4 card-header">
                    <i class="fas fa-exclamation-circle"></i>
                    <span class="text-body">Kupon Kodunuz mu var?</span>
                    <a href="#alert-body2" class="text-primary">Buraya tıklayarak kupon kodunuzu girebilirsiniz.</a>
                </div>
                <div class="alert-body collapsed" id="alert-body2">
                    <p>Kupon Kodunuz varsa aşağıya girerek indiriminizi uygulayabilirsiniz.</p>
                    <div class="check-coupon-box d-flex">
                        <input type="text" name="coupon_code"
                            class="input-text form-control text-grey ls-m mr-4 mb-4" id="coupon_code" value=""
                            placeholder="Kupon Kodu">
                        <button type="submit" class="btn btn-dark btn-rounded btn-outline mb-4">
                            Kuponu Uygula
                        </button>
                    </div>
                </div>
            </div>
            <form action="{% url 'address_update' %}" method="post" class="form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 mb-6 mb-lg-0 pr-lg-4">
                        <h3 class="title title-simple text-left text-uppercase">Teslimat Detayları</h3>
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Alıcı Adı *</label>
                                <input type="text" class="form-control" name="first-name" required="" 
                                value="{% if delivery_address %}{{ delivery_address.recipient_name }}{% endif %}" />
                            </div>
                            <div class="col-xs-6">
                                <label>Alıcı Soyadı *</label>
                                <input type="text" class="form-control" name="last-name" required="" 
                                value="{% if delivery_address %}{{ delivery_address.recipient_lastname }}{% endif %}" />
                            </div>
                        </div>
                        
                        <div class="select-box" style="display: none;">
                            <label>Ülke *</label>
                            <input type="text" class="form-control" name="country" required value= "Türkiye" />
                            <select name="country" class="form-control" value="Türkiye">
                                <option selected value="Türkiye" selected>Türkiye</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label>İl *</label>
                                <div class="select-box">
                                    <select id="citySelect" name="city" class="form-control" >
                                        {% if delivery_address %}
                                        <option selected value="{{ delivery_address.City.id }}">{{ delivery_address.City }}</option>
                                        {% else %}
                                        <option value="choice-city">İl Seçiniz</option>
                                        {% endif %}

                                        {% for city in cities %}
                                        <option value="{{ city.id }}">{{ city.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label>İlçe *</label>
                                <div class="select-box">
                                    <select id="districtSelect" name="district" class="form-control">
                                        {% if delivery_address %}
                                        <option selected value="{{ delivery_address.District.id }}">{{ delivery_address.District }}</option>
                                        {% else %}
                                        <option value="choice-district">İlçe Seçiniz</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <label>Teslimat Adresi *</label>
                            <textarea class="form-control" name="address" required=""
                            placeholder="" >{{ delivery_address.FullAddress }}</textarea>
                        
                        <div class="row">
                            <div class="col-xs-4">
                                <label>ZIP *</label>
                                <input type="numeric" class="form-control" name="zip" required maxlength="5" value="{{ delivery_address.PostalCode }}" />
                            </div>
                            <div class="col-xs-8">
                                <label>Phone *</label>
                                <input type="text" class="form-control phone-input" name="phone" required placeholder="(5__) ___ __ __" value="{{ delivery_address.PhoneNumber|format_phone }}"  maxlength="15" />
                            </div>
                        </div>

                        <label>Email Address *</label>
                        <input type="email" class="form-control" name="email-address" required="" value="{{ delivery_address.EMail }}" />
                        
                        
                        <div class="form-checkbox mb-6">
                            <input type="checkbox" class="custom-checkbox" id="saveas-default-address"
                                name="different-address">
                            <label class="form-control-label ls-s" for="different-address">
                                Varsayılan Adresim Olarak Kaydet
                            </label>
                            <input type="checkbox" class="custom-checkbox" id="different-address"
                                name="different-address">
                            <label class="form-control-label ls-s" for="different-address">
                                Farklı Bir Fatura Adresi Gir
                            </label>
                        </div>
                        


                        <!-- Invoice Address Section -->
                        <div id="invoiceAddressSection" style="display:none;">
                            <h3 class="title title-simple text-left text-uppercase">Fatura Detayları</h3>
                            
                            <div class="row">
                                <div class="col-xs-6">
                                    <label>İl *</label>
                                    <div class="select-box">
                                        <select id="invoicecitySelect" name="invoice-city" class="form-control" value="Şehir Seçiniz">
                                            {% if invoice_address %}
                                            <option selected value="{{ invoice_address.City.id }}">{{ invoice_address.City }}</option>
                                            {% else %}
                                            <option value="choice-city">İl Seçiniz</option>
                                            {% endif %}

                                            {% for city in cities %}
                                            <option value="{{ city.id }}">{{ city.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label>İlçe *</label>
                                    <div class="select-box">
                                        <select id="invoicedistrictSelect" name="invoice-district" class="form-control">
                                            {% if invoice_address %}
                                            <option selected value="{{ invoice_address.District.id }}">{{ invoice_address.District }}</option>
                                            {% else %}
                                            <option value="choice-district">İlçe Seçiniz</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <label>Fatura Adresi *</label>
                            <textarea class="form-control" name="invoice-address" required=""
                            placeholder="" >{{ invoice_address.FullAddress }}</textarea>
                            
                            <label>Firma Adı veya Adı Soyadı</label>
                            <input type="text" class="form-control" name="invoice-company-name" value="{{ invoice_address.comp_name }}" />
                            
                            <label>Vergi Dairesi</label>
                            <input type="text" class="form-control" name="invoice-company-tax-office" value="{{ invoice_address.tax_office }}" />
                            
                            <label>Vergi Numarası veya TC Kimlik No</label>
                            <input type="number" class="form-control" name="invoice-company-tax-no" required value="{{ invoice_address.tax_no }}" />
                            
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Phone</label>
                                    <input type="text" class="form-control phone-input" name="invoice-phone" placeholder="(5__) ___ __ __" value="{{ invoice_address.PhoneNumber|format_phone }}" maxlength="15" />
                                </div>
                                <div class="col-xs-7">
                                    <label>E-Posta</label>
                                    <input type="email" class="form-control" name="invoice-email-address" value="{{ invoice_address.EMail }}" />
                                </div>
                            </div>
                        </div>


                        <h2 class="title title-simple text-uppercase text-left">Ek Bilgiler</h2>
                        <label>Sipariş Notları (Opsiyonel)</label>
                        <textarea class="form-control pb-2 pt-2 mb-0" cols="30" rows="5"
                            placeholder="Siparişinizle ilgili ek notlarınız varsa buraya yazabilirsiniz">
                        </textarea>

                    </div>

                    <aside class="col-lg-6 sticky-sidebar-wrapper">
                        <div class="sticky-sidebar mt-1" data-sticky-options="{'bottom': 50}">
                            <div class="summary pt-5">
                                <h3 class="title title-simple text-left text-uppercase">Sipariş Özeti</h3>

                                <table class="order-table">
                                    <thead>
                                        <tr>
                                            <th>Ürünler</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for prod in cartitems %}
                                        <tr>
                                            <td class="product-name">
                                                <div class="product-name-section">
                                                    {% if prod.product.product_type == 'Tekil' %} 
                                                        <a href="{% url 'product' prod.product.ProductID %}" class="product-name">{{ prod.product.product_web_name }} | {{ prod.size_stock.size }}</a>
                                                    {% elif prod.product.product_type == 'Kombin' %} 
                                                        <a href="{% url 'combproduct' prod.product.ProductID %}" class="product-name">{{ prod.product.product_web_name }}</a>
                                                    {% endif %}
                                                </div>
                                                <span class="product-quantity">
                                                    ×&nbsp;{{ prod.quantity }}
                                                </span>
                                            </td>
                                            <td class="product-total text-body">{{ prod.total_price }} ₺</td>
                                        </tr>
                                        {% endfor %}
                                        <tr class="summary-subtotal">
                                            <td>
                                                <h4 class="summary-subtitle">Ürün Toplamı</h4>
                                            </td>
                                            <td class="summary-subtotal-price pb-0 pt-0">{{ cart.prod_total_price }} ₺
                                            </td>
                                        </tr>
                                        <tr class="sumnary-shipping shipping-row-last">
                                            <td>
                                                <h4 class="summary-subtitle">Kargo Ücreti</h4>
                                            </td>
                                            <td class="summary-subtotal-price pb-0 pt-0">{{ cart.shipping_cost }} ₺
                                            </td>
                                        </tr>

                                        <tr class="sumnary-shipping">
                                            <td>
                                                <h4 class="summary-subtitle">İndirimler</h4>
                                            </td>
                                            {% comment %} <td class="summary-subtotal-price pb-0 pt-0">{{ cart.shipping_cost }} ₺</td> {% endcomment %}
                                        </tr>
                                        <tr>
                                            <td class="product-name">
                                                <span class="product-quantity">Kargo İndirimi</span>
                                                {{ prod.product.product_web_name }} 
                                            </td>
                                            {% if cart.shipping_cost != 0 %}
                                            <td class="product-total text-body">{{ cart.shipping_cost }} ₺</td>
                                            {% else %}
                                            <td class="product-total text-body">- {{ cart.shipping }} ₺</td>
                                            {% endif %}
                                        </tr>
                                        {% if cart.discount_coupon != 0 %}
                                        <tr>
                                            <td class="product-name">
                                                <span class="product-quantity">İndirim Kuponu</span>
                                                {{ prod.product.product_web_name }} 
                                            </td>
                                            <td class="product-total text-body">- {{ cart.discount_coupon }} ₺</td>
                                        </tr>
                                        {% endif %}

                                        <tr class="summary-total shipping-row-last"></tr>

                                        <tr class="summary-total">
                                            <td class="pb-0">
                                                <h4 class="summary-subtitle">Toplam Tutar</h4>
                                            </td>
                                            <td class=" pt-0 pb-0">
                                                <p class="summary-total-price ls-s text-primary">{{ cart.total_price }} ₺</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="payment accordion radio-type">
                                    <h4 class="summary-subtitle ls-m pb-3">Payment Methods</h4>
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="#collapse1"
                                                class="collapse text-body text-normal ls-m">Kart ile öde
                                            </a>
                                        </div>
                                        <div id="collapse1" class="expanded" style="display: block;">
                                            <div class="card-body ls-m">
                                                <br>

                                                <label>Kart Üzerindeki İsim *</label>
                                                <input type="text" class="form-control" name="cartHolder" name="cartHolder" required="" placeholder="Ad Soyad" />
                                                <label>Kredi Kartı Numarası *</label>
                                                <input type="text" class="form-control" id="cardNumber" name="cardNumber" required="" placeholder="Kredi Kartı Numarası" maxlength="19" />
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <label>SKT *</label>
                                                        <input type="text" class="form-control" id="cardExpiry" name="expiry" required="" placeholder="MM/YY" maxlength="5" />
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label>CVV *</label>
                                                        <input type="number" class="form-control" id="cardCVV" name="cvv" placeholder="123" required="" maxlength="4" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="#collapse2" class="expand text-body text-normal ls-m">Havale/EFT ile öde</a>
                                        </div>
                                        <div id="collapse2" class="collapsed">
                                            <div class="card-body ls-m">
                                                Pay with cash upon delivery.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-checkbox mt-4 mb-5">
                                    <input type="checkbox" class="custom-checkbox" id="terms-condition"
                                        name="terms-condition" />
                                    <label class="form-control-label" for="terms-condition">
                                        <a href="javascript:void(0);" onclick="openPopup('Mesafeli Satış Sözleşmesi')">Mesafeli Satış Sözleşmesi</a>'ni okudum, onaylıyorum. *
                                    </label>
                                </div>

                                <div class="form-checkbox mt-4 mb-5">
                                    <input type="checkbox" class="custom-checkbox" id="terms-condition"
                                        name="terms-condition" />
                                    <label class="form-control-label" for="terms-condition">
                                        <a href="javascript:void(0);" onclick="openPopup('Ön Bilgilendirme Formu')">Ön Bilgilendirme Formu</a>'nu okudum, onaylıyorum. *
                                    </label>
                                </div>

                                <button type="submit" class="btn btn-dark btn-rounded btn-order">
                                    Siparişi Oluştur
                                </button>
                                
                            </div>
                        </div>
                    </aside>
                </div>
            </form>
        </div>
    </div>
    
</main>

{% endblock content %}

{% block extra_scripts %}
<script>
    function openPopup(pageTitle) {
        // Make AJAX request to Django view
        fetch(`/get-page-content/?page_title=${encodeURIComponent(pageTitle)}`)
            .then(response => response.json())
            .then(data => {
                if (data.content) {
                    // Assuming you have a function to show popup
                    showPopup(data.content); // Implement this function to display the content in a popup
                } else {
                    console.error('Error fetching page content');
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function showPopup(content) {
        // Example: Simple popup - you might want to use a more sophisticated approach
        var popupWindow = window.open("", "Popup", "width=600,height=400,scrollbars=yes,resizable=yes");
        popupWindow.document.write(content);
    }
</script>

<!-- CCExpiry Formatter -->
<script>
    document.getElementById('cardExpiry').addEventListener('input', function (e) {
        var input = e.target.value;
        var month = input.substring(0, 2);
        var year = input.substring(2, 4);

        if (input.length > 2 && input.indexOf('/') === -1) {
            e.target.value = month + '/' + year;
        } else if (input.length === 2 && e.data && !e.inputType.includes('delete')) {
            e.target.value = month + '/';
        }
    });
</script>

<!-- CCNumber Formatter -->
<script>
    document.getElementById('cardNumber').addEventListener('input', function (e) {
        var value = e.target.value.replace(/\s+/g, ''); // Remove existing spaces
        var formattedValue = '';
        for (var i = 0; i < value.length; i++) {
            if (i > 0 && i % 4 === 0) {
                formattedValue += ' '; // Add a space every 4 digits
            }
            formattedValue += value[i];
        }
        e.target.value = formattedValue;
    });
</script>

<!-- City/District Selector -->
<script>
    document.getElementById('citySelect').addEventListener('change', function() {
        var cityId = this.value;
        fetch(`/get-districts/?city_id=${cityId}`)  // URL to your Django view
            .then(response => response.json())
            .then(data => {
                var districtSelect = document.getElementById('districtSelect');
                districtSelect.innerHTML = '';
                data.forEach(function(district) {
                    var option = new Option(district.name, district.name);
                    districtSelect.add(option);
                });
            });
    });
    document.getElementById('invoicecitySelect').addEventListener('change', function() {
        var cityId = this.value;
        fetch(`/get-districts/?city_id=${cityId}`)  // URL to your Django view
            .then(response => response.json())
            .then(data => {
                var districtSelect = document.getElementById('invoicedistrictSelect');
                districtSelect.innerHTML = '';
                data.forEach(function(district) {
                    var option = new Option(district.name, district.name);
                    districtSelect.add(option);
                });
            });
    });
</script>

<!-- Phone Formatter -->
<script>
    document.querySelectorAll('.phone-input').forEach(input => {
        input.addEventListener('input', function() {
            var value = this.value.replace(/\D/g, ''); // Remove all non-numeric characters
            var formatted = '';

            // Apply formatting
            if (value.length > 0) {
                formatted = '(' + value.substring(0, 3);
            }
            if (value.length >= 4) {
                formatted += ') ' + value.substring(3, 6);
            }
            if (value.length >= 7) {
                formatted += ' ' + value.substring(6, 8);
            }
            if (value.length >= 9) {
                formatted += ' ' + value.substring(8, 10);
            }

            this.value = formatted;  // Update the input with the formatted value
        });
    });
</script>

<!-- Invoice Adress -->
<script>
    document.getElementById('different-address').addEventListener('change', function() {
        var invoiceSection = document.getElementById('invoiceAddressSection');
        if (this.checked) {
            invoiceSection.style.display = 'block';
        } else {
            invoiceSection.style.display = 'none';
        }
    });
</script>
    

{% endblock extra_scripts %}