{% extends "base/base.html" %}
{% load static %}

{% block title %}{{ product.product_web_name }}{% endblock %} 

{% block extra_head %}
<style>
    .product-variations .size.active{
        background-color: #8ebf16;
        color: #ffffff;
        border-radius: 3px;
        border-color: #8ebf16;
    }
</style>
{% endblock extra_head %}


{% block slider %}
{% endblock slider %}

{% block content %}

<div class="page-wrapper">
    <main class="main mt-8 single-product">
        <div class="page-content mb-10 pb-6">
            <div class="container">
                
                <div class="product product-single row">
                    <div class="col-md-6">

                        <!-- PRODUCT IMAGES-->
                        <div class="product-gallery product-gallery-sticky">

                            <!-- Main Ürün Görseli -->
                            <div class="product-single-carousel owl-carousel owl-theme owl-nav-inner row cols-1 gutter-no">
                                {% for product_image in product.productimages_set.all %}
                                    <figure class="product-image">
                                        <img src="{{ product_image.product_image.url }}"
                                            data-zoom-image="{{ product_image.product_image.url }}"
                                            alt="{{ product.product_name }}" width="800" height="900">
                                    </figure>
                                {% endfor %}
                            </div>

                            <!-- Altta Görünen Minnak Ürün Görselleri -->
                            {% comment %} <div class="product-thumbs-wrap">
                                <div class="product-thumbs">
                                    {% for product_image in product.productimages_set.all %}
                                    <div class="product-thumb active">
                                        <img src="{{ product_image.product_image.url }}" alt="{{ product.product_name }}"
                                            width="109" height="122">
                                    </div>
                                    {% endfor %}
                                </div>
                                <button class="thumb-up disabled"><i class="fas fa-chevron-left"></i></button>
                                <button class="thumb-down disabled"><i class="fas fa-chevron-right"></i></button>
                            </div> {% endcomment %}

                            <div class="product-label-group">
                                {% if product.label %}
                                    <label class="product-label label-new">YENİ</label>
                                {% endif %}

                                {% if product.productprices_set.first.DiscountRatio > 0 %}
                                    <label class="product-label label-sale" style="color: #fff;background-color:#dd3333"><i class="d-icon-card"></i> {{ product.productprices_set.first.DiscountRatio }}% </label>
                                {% endif %}
                            </div>

                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="product-details">
                            
                            <div class="product-navigation">
                                <ul class="breadcrumb breadcrumb-lg">
                                    <li><a href="{% url 'index' %}"><i class="d-icon-home"></i></a></li>
                                    <li><a href="{% url 'category' %}#{{ product.ProductSubCategoryID.ProductSubCategoryID }}" class="active">{{ product.ProductSubCategoryID.ProductCategory }} / {{ product.ProductSubCategoryID.SubCategoryName }}</a></li> 
                                    <li>{{ product.product_web_name }}</li> 
                                </ul>

                            </div>
                            <h1 class="product-name">{{ product.product_web_name }}</h1>
                            <div class="product-meta">
                                SKU: <span class="product-sku">{{ product.sizebasedstocks_set.first.SKU_code }}</span> 
                                BRAND: <span class="product-brand">PLAYOFF</span> 
                            </div>
                            <div class="product-price">{{ cb_price.SalePrice }} ₺</div>
                            
                            
                            <p class="product-short-desc">
                                {{ product.productdetails_set.first.product_short_desc | safe }}
                            </p> 
                            
                            {% comment %} <div class="product-form product-size">
                                <label>Size:</label>
                                <div class="product-form-group">
                                    <div class="product-variations">
                                        {% for ps in product.sizebasedstocks_set.all %}
                                            {% if ps.sale_stock == 0 %}
                                                <a class="not-clickable" style="color:red; cursor: not-allowed;">{{ ps.size }}</a>
                                            {% else %}
                                            <a class="size" onclick="selectSize('{{ ps.size }}');" href="#">{{ ps.size }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <a href="#product-tab-size-table" class="size-guide link-to-tab ml-4">
                                        <i class="d-icon-th-list"></i>Beden Tablosu
                                    </a>
                                </div>
                            </div> {% endcomment %}

                            <hr class="product-divider">

                            <div class="product-form product-qty">
                                <div class="product-form-group">

                                    <div class="input-group mr-2">
                                        <button class="quantity-minus d-icon-minus"></button>
                                        <input name="product-quantity" id="product-quantity" class="quantity form-control" value="1" type="number" min="1" max="10000">
                                        <button class="quantity-plus d-icon-plus"></button>
                                    </div>

                                    <form id="cart" action="{% url 'add_to_cart' %}" method="POST">
                                        {% csrf_token %}
                                        <!-- GET DETAILS -->
                                        <input type="hidden" name="product-id" value="{{ product.ProductID }}" id="product-id" class="p-id" >
                                        <input type="hidden" name="product-title" value="{{ product.product_web_name }}" id="product-title" class="p-title">
                                        <input type="hidden" name="product-sale-price" value="{{ cb_price.SalePrice }}" id="product-sale-price" class="p-price">
                                        
                                        <input type="hidden" name="product-quantity" id="product-quantity" class="quantity form-control" value="1" type="number" min="1" max="10000">
                                        <input type="hidden" name="selected-size-id" class="selected-size-id" id="selected-size-id" value="">
                                        <button type="submit" onclick="setTimeout(function(){ location.reload(); }, 1500);" id="add-to-cart-button" data-product-id="{{ product.ProductID }}" class="btn-product btn-cart text-normal ls-normal font-weight-semi-bold">
                                            <i class="d-icon-bag"></i>Sepete Ekle
                                        </button>
                                    </form>

                                </div>
                            </div>

                            <hr class="product-divider mb-3">

                            <div class="accordion accordion-simple mb-4">

                                <div class="card border-no card-description">
                                    <div class="card-header">
                                        <a href="#collapse1-1" class="collapse">Ürün Bilgileri</a> 
                                    </div>
                                    <div id="collapse1-1" class="card-body expanded">
                                        <div class="row">
                                            <div class="col-12 mb-8">
                                                {{ product.productdetails_set.first.product_detail|safe }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">


                    <!-- SELECT ITEMS FROM CATS -->
                    <div class="col-lg-7 mb-6 mb-lg-0 pr-lg-4">

                        <div class="accordion accordion-dropshadow accordion-boxed accordion-plus accordion-gutter-sm">

                            {% for combcat in combproduct %}
                                <div class="card">
                                    <div class="card-header">
                                        <a href="#collapse4-2" class="expand">{{ combcat.CProductCategory }}</a>
                                    </div>
                                    <div id="collapse4-2" class="collapsed">
                                        <div class="card-body">
                                            <div class="owl-carousel owl-nav-top" data-owl-options="{
                                                'items': 1,
                                                'loop': false,
                                                'nav': false,
                                                'dots': false }">
                                                <div class="products-col">
                                                    
                                                    {% for product in combcat.CombinProducts.all %}
                                                    {{ product.ProductID }}
                                                    <a class="sproduct" onclick="selectProduct('{{ product.ProductID }}');" href="">{{ ps.size }}
                                                        <div class="product-form-group" >
                                                            <table>
                                                                <tr>
                                                                    <td class="item-media">
                                                                        <a href="product.html">
                                                                            <img src="{{ product.productimages_set.first.product_image.url }}"
                                                                                alt="product thumbnail" style="max-height:100px;" />
                                                                        </a>
                                                                    </td>
                                                                    <td class="item-name pr-0 pr-xl-10">{{ product.product_web_name }}</td>
                                                                    {% comment %} <td class="item-price pr-4 pr-lg-10">{{ product.productprices_set.first.SalePrice }} ₺</td> {% endcomment %}
                                                                    
                                                                    <td>
                                                                        {% comment %} <label>Size:</label> {% endcomment %}
                                                                        <div class="product-form-group">
                                                                            <div class="product-variations">
                                                                                {% for ps in product.sizebasedstocks_set.all %}
                                                                                    {% if ps.sale_stock == 0 %}
                                                                                        <a class="not-clickable" style="color:red; cursor: not-allowed;">{{ ps.size }}</a>
                                                                                    {% else %}
                                                                                    <a class="size" onclick="selectSize('{{ ps.size }}');" href="#">{{ ps.size }}</a>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                    </td>

                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </a>
                                                    {% endfor %}
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                    <!-- SELECTED PRODUCTS -->
                    <aside class="col-lg-5 sticky-sidebar-wrapper">
                        <div class="sticky-sidebar mt-1" data-sticky-options="{'bottom': 50}">
                            <div class="summary pt-5">
                                <h3 class="title title-simple text-left text-uppercase">Seçilen Ürünler</h3>
                                <table class="order-table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for combcat in combproduct %}
                                        <tr>
                                            <td class="product-name">
                                                <thead>
                                                    <tr>
                                                        <th>{{ combcat.CProductCategory }}</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="product-name">Seçilen Ürün 
                                                            <span class="product-quantity">|&nbsp;Seçilen Beden</span></td>
                                                        <td class="product-total text-body">Seçilen Ürünün Satış Fiyatı</td>
                                                    </tr>
                                                </tbody>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                        <tr class="summary-subtotal">
                                            <td>
                                                <h4 class="summary-subtitle">Ürün Toplamı</h4>
                                            </td>
                                            <td class="summary-subtotal-price pb-0 pt-0">xxx ₺
                                            </td>
                                        </tr>
                                        
                                        <tr class="summary-subtotal">
                                            <td>
                                                <h4 class="summary-subtitle">Kombin İndirimi</h4>
                                            </td>
                                            <td class="summary-subtotal-price pb-0 pt-0">{{ product.productprices_set.first.DiscountPrice }} ₺
                                            </td>
                                        </tr>
                                        
                                        <tr class="summary-total">
                                            <td class="pb-0">
                                                <h4 class="summary-subtitle">Toplam</h4>
                                            </td>
                                            <td class=" pt-0 pb-0">
                                                <p class="summary-total-price ls-s text-primary">{{ product.productprices_set.first.SalePrice }} ₺</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <br>
                                <form id="cart" method="POST">
                                    {% csrf_token %}
                                    <!-- GET DETAILS -->
                                    <input type="hidden" name="product-id" value="{{ product.ProductID }}" id="product-id" class="p-id" > <!-- OK -->
                                    <input type="hidden" name="product-title" value="{{ product.product_web_name }}" id="product-title" class="p-title"> <!-- OK -->
                                    <input type="hidden" name="product-sale-price" value="{{ product.productprices_set.first.SalePrice }}" id="product-sale-price" class="p-price"> <!-- OK -->
                                    
                                    <input type="hidden" name="product-quantity" id="product-quantity" class="quantity form-control" value="1" type="number" min="1" max="10000"> <!-- OK -->
                                    {% for combcat in combproduct %}
                                        <input type="hidden" name="selected-product-{{ combcat.CProductCategory }}" class="selected-product-{{ combcat.CProductCategory }}" id="selected-product-{{ combcat.CProductCategory }}" value="">
                                        <input type="hidden" name="selected-size-id" class="selected-size-id" id="selected-size-id" value="">
                                    {% endfor %}
                                    <button id="add-to-cart-button" type="submit" class="btn btn-dark btn-rounded btn-cart ls-normal">
                                        <i class="d-icon-bag"></i>  Sepete Ekle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </aside>

                </div>


                




                <hr class="product-divider" style="margin:25px">

            </div>
        </div>
        
    </main>
</div>


{% endblock %}

{% block extra_scripts %}
<script>
    function selectSize(sizeId) {
        document.getElementById('selected-size-id').value = sizeId;
    }
    function selectProduct(pId) {
        document.getElementById('selected-size-id').value = pId;
    }
</script>
{% endblock %}