{% extends "base/base.html" %}
{% load static %}

{% block title %}Ana Sayfa{% endblock %}


{% include slider %}


{% block content %}


<main class="main home">
    
    <div class="page-content">

        
        <!-- Products -->
        <div class="container">
            <div class="row main-content-wrap gutter-lg">

                <div class="main-content">
                    
                    <div style="margin-top: 25px;">
                        <h1>Ürünler</h1>
                    </div>

                    <nav class="toolbox sticky-toolbox sticky-content fix-top" >

                        <div class="toolbox-left">

                            <!-- FİLTRELEME BENCE TAMAMEN KALKMALI --> <!--
                            <a href="#" class="toolbox-item left-sidebar-toggle btn btn-outline btn-primary btn-rounded btn-icon-right">Filter<i class="d-icon-arrow-right"></i></a>
                            -->

                            <div class="toolbox-item toolbox-sort select-box text-dark"> <!-- Sort by yapılacak kadar önemli değil bence ama nasıl istenirse -->
                                <label>Sort By :</label>
                                <select name="orderby" class="form-control">
                                    <option value="default">Default</option>
                                    <option value="popularity" selected="selected">Most Popular</option>
                                    <option value="rating">Average rating</option>
                                    <option value="date">Latest</option>
                                    <option value="price-low">Sort forward price low</option>
                                    <option value="price-high">Sort forward price high</option>
                                    <option value="">Clear custom sort</option>
                                </select>
                            </div>

                        </div>

                        <div class="toolbox-right"> <!-- Bence Gereksiz bir kısım ama kullanılabilir istenirse -->

                            <div class="toolbox-item toolbox-show select-box text-dark">
                                <label>Show :</label>
                                <select name="count" class="form-control">
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                </select>
                            </div>

                        </div>

                    </nav>


                    <div class="row cols-2 cols-md-3 cols-lg-4 product-wrapper">

                        {% for product in active_products %}
                            <div class="product-wrap">
                                <div class="product product-classic">

                                    <!-- Product Image and Labeling -->
                                    <figure class="product-media">
                                        <a href="
                                                    {% if product.product_type == 'Tekil' %} 
                                                        {% url 'product' product.ProductID %} 
                                                    {% elif product.product_type == 'Kombin' %} 
                                                        {% url 'combproduct' product.ProductID %} 
                                                    {% endif %}
                                                    ">
                                            {% if product.productimages_set.first %}
                                                <img src="{{ product.productimages_set.first.product_image.url }}" alt="{{ product.product_name }}" width="280" height="315">
                                            {% else %}
                                                <img src="{% static 'images/products/no-image.png' %}" alt="{{ product.product_name }}" max-height='315' height="315" width="280" >
                                            {% endif %}
                                        </a>
                                        <div class="product-label-group">
                                            {% if product.label %}
                                                <label class="product-label label-new">YENİ</label>
                                            {% endif %}

                                            {% if product.productprices_set.first.DiscountRatio > 0 %}
                                                <label class="product-label label-sale">{{ product.productprices_set.first.DiscountRatio }}% </label>
                                            {% endif %}
                                        </div>
                                    </figure>

                                    <div class="product-details">
                                        <div class="product-cat">
                                            <a href="{% url 'category' %}#{{ product.ProductSubCategoryID.ProductSubCategoryID }}">{{ product.ProductSubCategoryID.SubCategoryName }}</a> 
                                        </div>
                                        <h3 class="product-name">
                                            <a href="
                                                    {% if product.product_type == 'Tekil' %} 
                                                        {% url 'product' product.ProductID %} 
                                                    {% elif product.product_type == 'Kombin' %} 
                                                        {% url 'combproduct' product.ProductID %} 
                                                    {% endif %}
                                                    ">
                                                {{ product.product_web_name }}
                                            </a>
                                        </h3>
                                        <div class="product-price">
                                            <ins class="new-price">
                                                {% if product.productprices_set.first %}
                                                    {{ product.productprices_set.first.SalePrice }} ₺
                                                {% endif %}
                                            </ins>

                                            {% if product.productprices_set.first and product.productprices_set.first.StrikedPrice > 0 %}
                                                <del class="old-price">{{ product.productprices_set.first.StrikedPrice }} ₺</del>
                                            {% endif %}
                                        </div>

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart" data-toggle="modal" data-target="#addCartModal" title="Add to cart"><i class="d-icon-bag"></i><span>Add to cart</span></a>
                                            <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}

                    </div>

                </div>

            </div>
        </div>

    </div>
</main>


{% endblock %}
