{% load i18n %}{% autoescape off %}
{% blocktranslate %}{{ site_name }} adresindeki kullanıcı hesabınız için şifre sıfırlama talebinde bulunduğunuzdan dolayı bu e-postayı alıyorsunuz..{% endblocktranslate %}

{% translate "Lütfen aşağıdaki linke tıklayarak yeni bir şifre belirleyin:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Unuttuysanız diye kullanıcı adınız:' %} {{ user.get_username }}

{% blocktranslate %}{{ site_name }} Ekibi{% endblocktranslate %}

{% endautoescape %}